.link {
  margin-top: 50px;
  width: 100%;
  li {
    width: 200px;
    height: 44px;
    margin: 0 auto;
  }
  a {
    color: lightskyblue;
    font-size: 26px;
    display: block;
    width: 100%;
    text-align: center;
  }
}